@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
	font-size: 16px;
	font-weight: 400;
}

h2 {
	text-decoration: underline;
	color: cornflowerblue;
	font-family: "Syne Tactile", cursive;
	font-style: oblique;
}

.text2 {
	text-indent: 25px;
	color: green;
	font-size: 10px;
	font-family: "Roboto", sans-serif;
	font-style: italic;
}

span {
	/*text-align: right;*/
	text-decoration: line-through;
	letter-spacing: 3px;
	color: blue;
	font-size: 36px;
	font-family: "Lobster", cursive;
	font-weight: 700;
	font-style: normal;
}
.text1 {
	text-shadow: 2px 1px 3px #000;
	word-spacing: 5px;
	font-family: "Comforter", cursive;
	font-weight: 900;
	font-style: normal;
}
.carabin-type {
	text-align: center;
	text-transform: lowercase;
}
.carabin-forms {
	text-align: left;
	text-transform: uppercase;
}
.special-carabin {
	/*text-align: right;*/
	text-align: justify;
	text-transform: capitalize;
}
ul.list {
	color: rgb(240, 10, 10);
	font-family: "Yellowtail", cursive;
	font-weight: 700;
	font-style: oblique;
}
mark {
	text-transform: uppercase;
	letter-spacing: 10px;
}
#s1,
#s2,
#s3,
#s4 {
	font-family: "Quintessential", cursive;
	font-weight: 400;
	font-style: italic;
}
.meny {
	font-family: "Anton", sans-serif;
	font-weight: 700;
	font-style: oblique;
}
