@import "null.css";

* {
	color: red;
}
p {
	color: green;
}
p {
	color: blueviolet;
}
span {
	color: blue;
}
.technical-diving {
	color: indigo;
}
.paragraf2 {
	color: indigo;
}
.paragraf2 {
	color: red;
}
#section4 {
	color: red;
}
div.comercial-diving {
	color: brown;
}
.comercial-diving.paragraf2 {
	color: black;
}
p span {
	color: green;
}
.comercial-diving .paragraf2 {
	color: blue;
}
.comercial-diving p {
	color: cornflowerblue;
}
footer p {
	color: darkkhaki;
}
.text-paragraph,
.recreation-diving {
	color: red;
}
[class*="name-paragraph"] {
	color: seagreen;
}
.section3 > p {
	color: black;
}
.paragraf + span {
	color: black;
}
.paragraf ~ p {
	color: blueviolet;
}
