/* &display=swap */
@import "null.css";
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
body {
	font-family: "Circular Std";
	font-style: normal;
	background-color: #ffffff;
}
h1 {
	min-width: 601px;
	text-align: center;
	margin: 0px 426px 20px 413px;
	font-weight: 500;
	font-size: 65px;
	line-height: 82px;
	color: #313131;
}
.why {
	min-width: 750px;
	text-align: center;
	padding: 0px 30px 0px 30px;
	margin: 0px 338px 224px 352px;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	color: #5f5f5f;
}

.great {
	min-width: 222px;
	margin: 0px 900px 20px 207px;
	font-weight: bold;
	font-size: 34px;
	color: #313131;
	opacity: 0.88;
}
.discription {
	min-width: 450px;
	margin: 0px 650px 125px 207px;
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #5f5f5f;
}

.dragos {
	min-width: 131px;
	margin: 0px 1000px 5px 207px;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #313131;
	opacity: 0.88;
}
.manager {
	min-width: 135px;
	margin: 0px 990px 40px 207px;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #b8b8b8;
}
