@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
	font-family: Lato;
	font-style: normal;
	background-color: white;
	font-size: 40px;
}
.wrapper {
	min-width: 100%;
	overflow: hidden;
}
h1 {
	background-color: #115b8b;
	width: 200px; /*высоту блоков задавал для экспиримента*/
	height: 100px;
	padding: 100px;
	margin: 0px auto;
}
.block {
	background-color: green;
	font-weight: bold;
	width: 300px;
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 20px 100px;
}
.block-1 {
	background-color: blue;
	overflow: auto;
	width: 400px;
	height: 400px;
	margin: 0px 0px 30px 200px;
}

.img {
	background-color: rgb(177, 22, 224);
	overflow: hidden;
	text-align: center;
	width: 400px;
	height: 300px;
	margin: 0px auto 20px;
}
.foto {
	width: 100px;
	height: 200px;
}
.block-3 {
	font-style: italic;
	width: 200px;
	height: 300px;
	background-color: red;
	overflow: scroll;
	margin: 0 0 20px auto;
}
.text {
	background-color: rgb(43, 39, 39);
	color: red;
}
.foto-1 {
	width: 200px;
	height: 200px;
	padding: 50px;
	background-color: black;
}
.inline {
	background-color: violet;
	/*padding: 100px;*/
	/*margin: 0px 20px 10px 0px;*/
}
.inline-span {
	display: inline-block;
	background-color: rgb(212, 195, 35);
	margin: 0px 0px 200px 40px;
	padding: 20px;
}
